<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/tags">

    <ui:composition template="/templates/mainTemplate.xhtml">
        <ui:define name="title">
            DirecTV Web | Registro
        </ui:define>

        <ui:define name="content">

            <section style='height: 320px;margin-left:-15px;margin-right: -15px;background-size: cover; background-position: 30% center; background-image: url("#{facesContext.externalContext.requestContextPath}/faces/javax.faces.resource/images/Landing-Paquete-Oro.png");background-color: #00283c;'>
                <div syle="height: 320px;margin: 0 auto;position: relative;width: 952px;">

                </div>
            </section>
            <section class="container">
                <h1 class="text-light">Registrar Cliente</h1>
                <br/><br/>
                <div class="row">
                    <div class="col-md-6"> 
                        <strong>Contrata Oro DIRECTV Nexus y tienes:</strong><br/>
                        <ul class="Lista">
                            <h3>Contrata Oro DIRECTV Nexus y tienes:</h3>
                            <li>Graba, pausa y retrocede tu programación favorita.</li>
                            <li>Más de 1000 títulos On Demand disponibles cuando quieras.</li>
                            <li>Disfruta del sistema multiroom, mira un programa grabado en tu TV, páusalo y continúa en otro TV de tu casa.</li>
                            <li>DIRECTVPlay.com. Busca y descubre en un solo lugar deportes, series y películas disponibles en tu computador, tablet o smartphone sin costo adicional.</li>
                        </ul>
                    </div>
                    <div class="col-md-6"> 
                        <h3>Si no eres cliente, pásanos tus datos</h3>
                        <h:form id="add-clt-form">
                            <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>

                            <div class="row">
                                <div class="col-md-6">                                    

                                    <div class="input-field">   
                                        <i class="prefix fa fa-user"></i>
                                        <p:inputText id="cltNombre" value="#{registroClienteBean.selectedCliente.cltNombre}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltNombre" class="active">
                                            Nombre
                                        </p:outputLabel>

                                    </div> 
                                </div>

                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-user-secret"></i>
                                        <p:inputText id="cltApellido" value="#{registroClienteBean.selectedCliente.cltApellido}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltApellido" class="active">
                                            Apellido
                                        </p:outputLabel>

                                    </div> 
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-credit-card"></i>
                                        <p:inputText id="cltCi" value="#{registroClienteBean.selectedCliente.cltCi}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltCi" class="active">
                                            CI/RUC
                                        </p:outputLabel>

                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-phone"></i>
                                        <p:inputText id="cltTelefono" value="#{registroClienteBean.selectedCliente.cltTelefono}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltTelefono" class="active">
                                            Telefono
                                        </p:outputLabel>

                                    </div>
                                </div>
                            </div>
                            <br/>

                            <div class="row">                                
                                <div class="col-md-12">                                   
                                    <div class="input-field">   
                                        <i class="prefix fa fa-envelope-o"></i>
                                        <p:inputText id="cltEmail" value="#{registroClienteBean.selectedCliente.cltEmail}" required="true" requiredMessage="Ingrese Email" type="email"/>
                                        <p:outputLabel for="cltEmail" class="active">
                                            Email
                                        </p:outputLabel>

                                    </div>                                    
                                </div>
                            </div>
                            <br/>
                            <br/>

                            <div class="row"> 
                                <div class="col-md-12">                                   
                                    <div class="input-control full-size">                                           
                                        <p:selectBooleanCheckbox style="float: left;margin-right: 10px;" id="cltIsPrepago"  value="#{registroClienteBean.selectedCliente.cltIsPrepago}" required="true" requiredMessage="Ingrese Email"/>
                                        <p:outputLabel for="cltIsPrepago" class="active">
                                            Cliente prepago?
                                        </p:outputLabel>

                                    </div>                                    
                                </div>
                            </div>
                            <br/>


                            <div class="row"> 
                                <div class="col-md-12">                                   
                                    <div class="input-control full-size">   

                                        <p:selectBooleanCheckbox style="float: left;margin-right: 10px;" id="needAsistencia"  value="#{registroClienteBean.needAsistencia}" required="true" requiredMessage="Ingrese Email"/>
                                        <p:outputLabel for="needAsistencia" class="active">
                                            Requeiere asistencia?
                                        </p:outputLabel>

                                    </div>                                    
                                </div>
                            </div>
                            <br/><br/>

                            <div class="row">
                                <div class="text-right margin10R">
                                    <p:commandButton value="Guardar" action="#{registroClienteBean.addClienteAction()}" 
                                                     widgetVar="addClienteBut"
                                                     oncomplete="hideBusy('addClienteBut');"
                                                     validateClient="true"
                                                     onerror="hideBusy('addClienteBut');"
                                                     onstart="showBusy('addClienteBut');"
                                                     update="add-clt-form,messages2"
                                                     class="btn btn-primary waves-effect waves-light big-button"/>
                                </div>
                            </div> 

                        </h:form>
                    </div>
                </div>




            </section>

            <section class="infox" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">                            
                            <h4><img src="#{facesContext.externalContext.requestContextPath}/faces/javax.faces.resource/images/img-logo-footer.png"/>
                            </h4>
                        </div>

                        <div class="col-md-4">
                            <h4>DirecTV BPM</h4>
                            <a href="#{SettingsHolder.bpm}/jbpm-console" class="waves-effect waves-light">Jbpm</a>
                        </div>

                        <div class="col-md-4">
                            <h4>DirecTV Web</h4>
                            <a href="#{facesContext.externalContext.requestContextPath}/faces/views/p/login/login.xhtml" class="waves-effect waves-light">Login</a>

                        </div>
                    </div>
                </div>
            </section>

            <style>
                .main-wrapper{
                    width: 100%;
                    margin: 0;
                }
                main{
                    padding-left: 0;
                }
                .infox{
                    margin: 110px -15px 0 -15px;
                    background-color: #252525;
                    padding: 20px 10px 65px 10px;
                }
                .infox h4{
                    color:#9C9B9B;
                }
                .infox a{
                    color:#fff;
                    opacity: 0.8;
                }
                .infox a:hover{
                    opacity: 1;
                }
                footer.page-footer {
                    margin-top: 0;
                }
                /* =Lista - css
--------------------------------------- */
                ul.Lista {
                    float: left;
                    width: 90%;
                }
                ul.Lista li {
                    background: url("#{facesContext.externalContext.requestContextPath}/faces/javax.faces.resource/images/Ticket.png") no-repeat scroll 0 19px transparent;
                    line-height: 24px;
                    padding: 12px 0 0 25px;
                }
                ul.Lista li:first-of-type {
                    background-position: 0 5px;
                    padding: 0 0 0 25px;
                }
                ul.Lista li sup {
                    font: 11px Arial;
                    position: relative;
                    top: 2px;
                }
            </style>
        </ui:define>

    </ui:composition>
</html>