<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <style>   
            /*fixes primefaces*/ 
            body{
                font-size: 16px;
            }
            .dt1c,.dcm {
                /*background-color: #ffffff;*/
            }
            .select-wrapper {
                position: relative;
                display: inline-block;
                width: 100%;
            }
            .input-field .prefix~.value{
                margin-left: 3rem;
                width: 92%;
                width: calc(100% - 3rem);
            }
            .input-field label.active{
                font-size: 1rem;
            }
            .input-control .ui-selectonemenu .ui-selectonemenu-label{
                padding: 10px!important;
            }


            .ui-shadow {
                box-shadow: 0 2px 4px rgba(0,0,0,.35)!important;
            }

            .rotate-btn.undo{
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 25px;
            }
            html,
            body {
                height: 100%;
            }

            /*********************
             CUSTOM COLORS
            **********************/
            .full-bg-img {  

            }

            .top-nav-collapse {
                background-color: #{SettingsHolder.userSettings.primary_color};
            }

            .bg-primary,.bg-hover-primary:hover{
                background-color: #{SettingsHolder.userSettings.primary_color}!important;
            }
            .fg-primary,.fg-hover-primary:hover{
                color: #{SettingsHolder.userSettings.primary_color}!important;
            }
            .bd-primary,.bd-hover-primary:hover{
                border-color: #{SettingsHolder.userSettings.primary_color}!important;
            }
            .bd-bottom-hover-primary:hover{
                border-bottom-color: #{SettingsHolder.userSettings.primary_color}!important;
            }

            .collapsible-accordion ul {
                padding-left: 0;
                margin-left: 0;
            }

            .dark-side-nav .logo-wrapper {
                background: url('#{request.contextPath}/faces/javax.faces.resource/images/coverphoto_yyvv4b.jpg') center center no-repeat;
                background-size: cover;
            }

            /**INPUT COLOR**/
            /* label focus color */
            .input-field input[type=text]:focus + label {
                color: #{SettingsHolder.userSettings.primary_color}!important;
            }
            /* label underline focus color */
            .input-field input[type=text]:focus {
                border-bottom: 1px solid #{SettingsHolder.userSettings.primary_color}!important;
                box-shadow: 0 1px 0 0 #{SettingsHolder.userSettings.primary_color}!important;
            }
            /* icon prefix focus color */
            .input-field .prefix.active {
                color: #{SettingsHolder.userSettings.primary_color}!important;
            }

            .icon-app{
                background-color: #{SettingsHolder.userSettings.primary_color}!important;
                text-shadow: rgb(48, 117, 165) 5px 5px 2px;
                font-size: 60px;
                color: #ffffff;
                padding: 15px;
                border: 2px solid #ffffff;
                width: 100px;
                height: 100px;

            }
            .divider-new:before,.divider-new:after{
                background: #{SettingsHolder.userSettings.primary_color}!important;
            }
        </style>

    </ui:composition>
</html>

