<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:decorate template="head.xhtml">
        <ui:define name="head" >
            <style>
                footer.page-footer {
                    margin-top: 0;
                }               
            </style>
            <ui:insert name="postHead" />
        </ui:define>
    </ui:decorate> 


    <h:body class="dcm dt1c">
        <div class="preloader">
            <div class="preloader-wrapper big active status">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <p:ajaxStatus style="width: 32px;height: 32px;position: fixed;right: 7px;bottom: 7px;">

            <f:facet name="start">
                <h:graphicImage name="preloader.gif" library="images"/>
            </f:facet>

        </p:ajaxStatus>

        <header>

            <!--Navigation-->
            <nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav smooth-scroll">
                            <li><a href="#intro" class="waves-effect waves-light">Login</a></li>
                            <li><a href="#soporte" class="waves-effect waves-light" data-scroll="true">Soporte</a></li>                            
                            <li><a href="#{SettingsHolder.portalSettings.weburl}" class="waves-effect waves-light" target="_blank">Web</a></li> 
                        </ul>

                    </div>
                </div>
            </nav>
            <!--/.Navigation-->

        </header>

        <!-- Section: Intro -->
        <section id="intro" class="bg-lazy full-bg-img" data-original="#{SettingsHolder.portalSettings.background}" style="display: flex;align-items: center;justify-content: center;position: relative;width: 100%;min-height: 100vh;height: auto;">
            <ui:insert name="intro">
                <div class="view">
                    <div class="mask rgba-black-light">
                        <div class="container">
                            <div class="verticalcenter text-center white-text">
                                <h1 class="wow fadeInDown uppercase">#{SettingsHolder.portalSettings.name}</h1>
                                <h4 class="wow fadeInDown">Administración</h4>
                                <!--Call to action buttons-->
                                <div class="g-signin2 btn waves-effect waves-light wow fadeInDown" data-onsuccess="onSignIn"
                                     data-width="300" data-height="50" data-longtitle="true"
                                     ></div>                                                        
                            </div>
                        </div>
                    </div>
                </div>
            </ui:insert>
        </section>
        <!--/. Section: Intro -->


        <main style="height: 100%;" class="dt1c clearfix">                   
            <p:outputPanel layout="block" id="content" class="page-content">  

                <p:growl id="messages2" sticky="true" showDetail="true" autoUpdate="true"/>
                <ui:insert name="content">

                </ui:insert>

            </p:outputPanel>


            <section class="services hidden" id="soporte" role="region" aria-label="Sopote">
                <div class="section-overlay-layer">
                    <div class="container">

                        <div class="section-header">
                            <h2 class="dark-text">Soporte Técnico</h2>
                            <div class="colored-line bg-primary"></div>
                            <p class="sub-heading">
                                Si tienes dudas o algún inconveniente con nuestros servicios o los servicios de terceros aquí vinculados.
                                <br/> No dudes en ponerte en contacto con nosotros.
                            </p>
                        </div>
                        <div class="services-wrap parallax_one_grid">
                            <div class="parallax_one_grid_col_3 parallax_one_grid_first wow fadeInLeft" data-wow-delay="0.25s">
                                <div class="service-box" parallax_onegrid-attr="this-0">
                                    <div class="single-service bd-bottom-hover-primary">
                                        <div class="service-icon fg-primary">
                                            <span class="fa fa-mobile"></span>
                                        </div>
                                        <h3 class="fg-primary">Movistar</h3>
                                        <p>
                                            0989003800
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="parallax_one_grid_col_3 parallax_one_grid_column_2 wow fadeInLeft" data-wow-delay="0.5s"
                                 data-toggle="modal" data-target="#modalSupport">
                                <div class="service-box" parallax_onegrid-attr="this-0">
                                    <div class="single-service bd-bottom-hover-primary">
                                        <div class="service-icon fg-primary">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                        <h3 class="fg-primary">Email</h3>
                                        <p>
                                            dacopan.bsc@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="parallax_one_grid_col_3 parallax_one_grid_last wow fadeInLeft" data-wow-delay="0.75s">
                                <div class="service-box" parallax_onegrid-attr="this-0">
                                    <div class="single-service bd-bottom-hover-primary">
                                        <div class="service-icon fg-primary">
                                            <span class="fa fa-mobile"></span>
                                        </div>
                                        <h3 class="fg-primary">Claro</h3>
                                        <p>
                                            0983003800
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>





        <ui:include src="footer.xhtml"/>

        <script>
            $(window).scroll(function () {
                $(".navbar").offset().top > 50 ? $(".navbar-fixed-top").addClass("top-nav-collapse") : $(".navbar-fixed-top").removeClass("top-nav-collapse")
            })
        </script>

    </h:body>

</html>

