<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/tags">
    <ui:composition>

        <!-- Modal Support -->
        <div class="modal fade" id="modalSupport" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
                    </div>
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Ticket de Soporte </h4>                        
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form class="col-md-12" id="support_form">
                                <p>Recibiremos con gusto sus mensajes.</p>
                                <br/>
                                <div class="input-field">
                                    <i class="fa prefix fa-envelope"></i>

                                    <sec:authorize access="isAuthenticated()" var="isAuthenticated"></sec:authorize>

                                    <input id="fd_email" type="text" class="validate" required="true" value="#{isAuthenticated? SideBarBean.user.email:'xx'}"/>


                                    <label for="fd_email">Email</label>
                                </div>

                                <br/>
                                <div class="input-field">
                                    <i class="fa prefix fa-envelope"></i>
                                    <select id="fd_producto" required="true">
                                        <option value="" disabled="true" selected="true">Seleccione producto</option>
                                        <option value="Paginas Web">Paginas Web</option>
                                        <option value="Aplicaciones web">Aplicaciones web</option>
                                        <option value="Aplicaciones móviles">Aplicaciones móviles</option>
                                        <option value="otro">otro</option>
                                    </select>
                                    <script>
                                        $(document).ready(function () {
                                            $('#fd_producto').material_select();
                                        });</script>
                                </div>

                                <br/>
                                <div class="input-field">
                                    <i class="fa prefix fa-envelope"></i>
                                    <select id="fd_ticket_type" required="true">
                                        <option value="" disabled="true" selected="true">Seleccione Tipo</option>
                                        <option value="Pregunta">Pregunta</option>
                                        <option value="Incidente">Incidente</option>
                                        <option value="Problema">Problema</option>
                                        <option value="Solicitud de nueva función" data-id="14000090424">Solicitud de nueva función</option>
                                    </select>
                                    <script>
                                        $(document).ready(function () {
                                            $('#fd_ticket_type').material_select();
                                        });</script>
                                </div>

                                <br/>
                                <div class="input-field">
                                    <i class="fa prefix fa-envelope"></i>
                                    <input id="fd_subject" type="text" class="validate" required="true"/>
                                    <label for="fd_subject">Asunto</label>
                                </div>

                                <br/>
                                <br/>
                                <div class="input-field">
                                    <i class="fa prefix fa-pencil"></i>
                                    <textarea id="fd_description" class="materialize-textarea" required="true"></textarea>
                                    <label for="fd_description">Descripción</label>
                                </div>
                            </form>
                            <div class="text-center">
                                <button type="button" id="btnSupport" class="btn btn-primary waves-effect waves-light">Send</button>
                            </div>
                            <hr/>
                            <div class="col-md-12">
                                <div class="call">
                                    <p>O prefiere llamarnos? <span class="cf-phone"><i class="fa fa-phone"> +593 9 8300 3834</i></span></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <script>
            $(function () {
                $('#btnSupport').click(function () {
                    showToast('info', 'Support ', 'Enviando ticket de soporte.');
                    sendTicket(null, $('#modalSupport'));
                    return false;
                });
            });
            function sendTicket(form, modalx) {
                //get ticket_data
                var fd_description = $('#fd_description').val(),
                        fd_email = $('#fd_email').val(),
                        fd_subject = $('#fd_subject').val(),
                        fd_priority = 1,
                        fd_status = 2,
                        fd_ticket_type = $('#fd_ticket_type').val(),
                        fd_producto = $('#fd_producto').val();

                console.log("ticket_data: " + fd_description);

                //create ticket_data
                var ticket_data = {
                    "helpdesk_ticket": {
                        "description": fd_description,
                        "email": fd_email,
                        "subject": fd_subject,
                        "priority": fd_priority,
                        "status": fd_status,
                        "ticket_type": fd_ticket_type,
                        "custom_field": {
                            "producto_354793": fd_producto
                        }
                    }
                };
                var ticket_data_json = JSON.stringify(ticket_data);
                ticket_data = '{ "helpdesk_ticket" : { "description" : "sample description", "email" : "demo@freshdesk.com", "subject" : "Test subject", "priority" : 1, "status" : 2, "custom_field" : { "sample_field_1" : "111" } } }';
                $.ajax({
                    url: "https://dacopancm.freshdesk.com/helpdesk/tickets.json",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: {
                        "Authorization": "Basic " + btoa('LTSxyMbxDfagruV5Y' + ":" + 'X')
                                // Example, "Authorization": "Basic " + btoa('jhfbdjhfbwie6623h' + ":" + 'X')
                    },
                    data: ticket_data_json,
                    success: function (data, textStatus) {
                        modalx.modal('hide');
                        showToast('info', 'Support ', textStatus);
                    },
                    error: function (jqXHR, tranStatus) {
                        modalx.modal('hide');
                        console.log(jqXHR.status);
                        showToast('error', 'Support ', 'No se pudo enviar ticket');
                    }
                });
            }
        </script>
        <footer class="page-footer blue bg-primary center-on-small-only">

            <div class="footer-copyright text-center rgba-black-light fadeInDown">
                <div class="container-fluid">
                    © 2016 Copyright: <a href="http://www.dacopanCM.tk"> dacopanCM </a>
                </div>
            </div>
        </footer>

        <h:outputScript library="js" name="vendor.js"></h:outputScript>
        <h:outputScript library="js" name="custom.js"></h:outputScript>



    </ui:composition>


</html>

