<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:decorate template="head.xhtml">
        <ui:define name="head" >
            <style>
                footer.page-footer {
                    margin-top: 0;
                }               
            </style>
            <ui:insert name="postHead" />
        </ui:define>
    </ui:decorate> 


    <h:body class="dcm dt1c">
        <div class="preloader">
            <div class="preloader-wrapper big active status">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <p:ajaxStatus style="width: 32px;height: 32px;position: fixed;right: 7px;bottom: 7px;">

            <f:facet name="start">
                <h:graphicImage name="preloader.gif" library="images"/>
            </f:facet>

        </p:ajaxStatus>              


        <main style="height: 100%;" class="dt1c clearfix">                   


            <p:growl id="messages2" sticky="true" showDetail="true" autoUpdate="true"/>
            <ui:insert name="content">

            </ui:insert>




        </main>

        <ui:include src="footer.xhtml"/>       

    </h:body>

</html>

