<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>

        <h:head>

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />   
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            
            <meta name="google-signin-client_id" content="#{SettingsHolder.portalSettings.google_client_id}"/>
            
            <!-- Material Design Icons
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link> -->
            <!-- Font Awesome 
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"  rel="stylesheet" ></link>-->


            <h:outputStylesheet library="css" name="vendor.css"></h:outputStylesheet>   
            <ui:include src="color-style.xhtml"/>

            <title><ui:insert name="title" /></title>
            <ui:insert name="head" />            
        </h:head>
    </ui:composition>


</html>

