<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:sec="http://www.springframework.org/security/tags">

    <ui:decorate template="head.xhtml">
        <ui:define name="head" >
            <sec:authorize access="isAuthenticated()">
                <style>
                    body,html{height:100%;margin:0;padding:0;
                              /*background-color:#2E2E2E*/
                    }

                    .full-bg-img,footer,main{padding-left:240px}.main-wrapper{margin-top:20px}@media only screen and (max-width:480px){.main-wrapper{margin-left:0;margin-right:0}}@media only screen and (min-width:768px){.main-wrapper{margin-left:3%;margin-right:3%}}@media only screen and (max-width:992px){.full-bg-img,footer,main{padding-left:0}.main-wrapper{margin-left:4%;margin-right:4%}}@media only screen and (min-width:1400px){.main-wrapper{margin-left:9%;margin-right:9%}}

                    .pt-color{background-color:#212121!important}
                    .st-color{background-color:#1C2331!important}.et-color{background-color:#3F729B!important}.btn-ptc{background-color:#212121!important}.btn-ptc:focus,.btn-ptc:hover{background-color:#3b3b3b!important}.btn-stc{background-color:#1C2331!important}.btn-stc:focus,.btn-stc:hover{background-color:#2f3a51!important}.btn-etc{background-color:#3F729B!important}.btn-etc:focus,.btn-etc:hover{background-color:#548cb9!important}.button-collapse{position:fixed;color:#fff;z-index:999}
                </style>
            </sec:authorize>
        </ui:define>
    </ui:decorate>

    <h:body class="dcm">
        <div class="preloader">
            <div class="preloader-wrapper big active status">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <p:ajaxStatus onerror="onAjaxError();" style="width: 32px;height: 32px;position: fixed;right: 7px;bottom: 7px;">

            <f:facet name="start">
                <h:graphicImage name="preloader.gif" library="images"/>
            </f:facet>

        </p:ajaxStatus>       
        <div class="modal fade" id="erroDialog" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">                            
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error en JOM DcM</h4>
                    </div>
                    <div class="modal-body">
                        <p>:( A ocurrido un error o su sesión a expirado por inactividad.</p>
                        <p>Refresque la página, Si el error persiste contacte con soporte.</p>
                        <!-- <p>Esto no cerrará sesión en cada uno de los servicios utilizados. Deberá cerrarlos por su cuenta.</p>-->
                    </div>
                    <div class="modal-footer">                            
                        <button onclick=" location.reload();" class="btn btn-danger big-button" style="margin-bottom: 10px"><i class='fa fa-refresh'></i> Refescar</button>
                    </div>                        
                </div>

            </div>
        </div>




        <ui:include src="sidebar.xhtml"/>


        <!-- Intro image -->
        <!--
        <section class="full-bg-img" id="home">
            <div class="verticalcenter">
                <div class="text-center">

                </div>
            </div>
        </section>-->
        <!--/. Intro image -->

        <!--Main container-->

        <main style="min-height: calc(100% - 92px);" class="clearfix">                   

            <div class="main-wrapper">
                <div class="container-fluid dt1c">
                    <p:growl id="messages2" sticky="true" showDetail="true" autoUpdate="true"/>
                    <ui:insert name="content">

                    </ui:insert>

                </div>
            </div>



        </main>



        <ui:include src="footer.xhtml"/>


    </h:body>

</html>

