<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/tags">
    <ui:composition>


        <sec:authorize access="isAuthenticated()">
            <!-- SideNav slide-out button -->
            <a href="#" data-activates="slide-out" class="navbar-brand button-collapse"><i class="fa fa-bars"></i></a>
            <!--/. SideNav slide-out button -->

            <!-- Sidebar navigation -->
            <ul id="slide-out" class="side-nav fixed personal-side-nav dark-side-nav">
                <!-- Logo -->
                <div class="logo-wrapper waves-effect">
                    <a href="#">
                        <div class="avatar-wrapper">                                                     
                            <img src="#{SideBarBean.gravatar}" class="img-responsive"/>                              
                        </div>
                        <p class="text-center">#{SideBarBean.user.name}</p>
                    </a>
                </div>
                <!--/. Logo -->

                <!--About-->
                <div class="about text-center">
                    <p>#{SideBarBean.user.email}</p>
                </div>
                <!--/.About-->            

                <!-- Side navigation links -->
                <ul class="collapsible collapsible-accordion">
                    <sec:authorize access="hasAuthority('ROLE_ADMIN')"> 
                        <li><a class="collapsible-header waves-effect waves-light"><i class="fa fa-cogs"></i> Administración</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/faces/views/s/estadisticas.xhtml" class="waves-effect waves-light"><i class="fa fa-pie-chart"></i> Estadisticas</a>
                                    </li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/faces/views/s/listaEsperaInstalacion.xhtml" class="waves-effect waves-light"><i class="fa fa-list"></i> Lista Instalación</a>
                                    </li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/faces/views/s/adminClientes.xhtml" class="waves-effect waves-light"><i class="fa fa-users"></i> Suscriptores</a>
                                    </li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/faces/views/s/estadisticas.xhtml" class="waves-effect waves-light"><i class="fa fa-pie-chart"></i> Estadisticas</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </sec:authorize> 
                    <li>
                        <a href="#{facesContext.externalContext.requestContextPath}/faces/views/index.xhtml" class="waves-effect waves-light"><i class="fa fa-user-plus"></i> Registro Clientes</a>
                    </li>
                    <li>
                        <a href="#{SettingsHolder.bpm}/jbpm-console" class="waves-effect waves-light" target="_blank"><i class="fa fa-briefcase"></i> Jbpm</a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-light" onclick="$('#modalLogOut').modal('show');
                                return false;">
                            <i class="fa fa-sign-out"></i> Logout
                        </a>
                    </li>
                </ul>
                <!--/. Side navigation links -->
            </ul>
            <!--/. Sidebar navigation -->

            <!--/. Manage Sign Out -->
            <!-- Modal -->
            <div class="modal fade" id="modalLogOut" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <form action="${request.contextPath}/logout" method="post">
                            <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Cerrar Sesión</h4>
                            </div>
                            <div class="modal-body">
                                <p>Seguro desea salir?.</p>
                                <!-- <p>Esto no cerrará sesión en cada uno de los servicios utilizados. Deberá cerrarlos por su cuenta.</p>-->
                            </div>
                            <div class="modal-footer">                            
                                <button type="submit" class="btn btn-danger big-button" style="margin-bottom: 10px">Sí, Salir</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </sec:authorize>
    </ui:composition>
</html>

