<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/templates/mainTemplate.xhtml">
        <ui:define name="title">
            DirecTV | Clientes
        </ui:define>

        <ui:define name="content">

            <section>

                <h2 class="text-light text-center">Administrar Clientes</h2>
                <div class="colored-line bg-primary"></div>
                <br/><br/>                


                <h:form id="listClienteForm">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>

                    <p:dataTable var="cliente" value="#{adminClientesBean.listCliente}" rows="5"
                                 paginator="true"  reflow="true" editable="false"
                                 sortMode="multiple" widgetVar="clienteTable" 
                                 selectionMode="single" selection="#{adminClientesBean.selectedCliente}" rowKey="#{cliente.cltId}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" 
                                 class="wow fadeIn" pt:data-wow-delay="0.5s"
                                 >
                        <f:facet name="emptyMessage">
                            <h2 class="text-light">Ningun Cliente</h2>
                        </f:facet>
                        <f:facet name="header">

                            <div class="align-center pos-rel">
                                <span class="fa fa-list-ol" style="position: absolute; left: 5px;font-weight: 300;">&nbsp; #{adminClientesBean.listCliente.size()}</span>
                                Lista de Clientes 
                                <p:inputText id="globalFilter" onkeyup="PF('clienteTable').filter()" class="search-input" placeholder="Buscar"/>
                                <span class="fa fa-search" style="position: absolute; right: 5px;"></span>&nbsp;&nbsp;
                            </div>



                        </f:facet>
                        <p:column headerText="Id" sortBy="#{cliente.cltId}" filterBy="#{cliente.cltId}" filterStyleClass="no-display" filterMatchMode="contains"
                                  width="50">
                            <h:outputText value="#{cliente.cltId}" />
                        </p:column>

                        <p:column width="100" headerText="CI" sortBy="#{cliente.cltCi}" filterBy="#{cliente.cltCi}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{cliente.cltCi}" />
                        </p:column>

                        <p:column width="150" headerText="Cliente" sortBy="#{cliente.fullName}" filterBy="#{cliente.fullName}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{cliente.fullName}" />
                        </p:column>
                        <p:column width="100" headerText="Telefono" sortBy="#{cliente.cltTelefono}" filterBy="#{cliente.cltTelefono}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{cliente.cltTelefono}" />
                        </p:column>
                        <p:column width="170" headerText="Email" sortBy="#{cliente.cltEmail}" filterBy="#{cliente.cltEmail}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{cliente.cltEmail}" />
                        </p:column>

                        <p:column width="100" headerText="Contrato" sortBy="#{cliente.cltContrato}" filterBy="#{cliente.cltContrato}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText rendered="#{cliente.cltContrato==null or cliente.cltContrato.trim().isEmpty()}" value="no firmado" />
                            <h:outputText rendered="#{not cliente.cltContrato.trim().isEmpty()}"  value="#{cliente.cltContrato}" />
                        </p:column>

                        <p:column width="130" headerText="Estado" sortBy="#{cliente.cltEstado}" filterBy="#{cliente.cltEstado}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >                            
                            <h:outputText value="#{cliente.cltEstado}" />
                        </p:column>
                        <p:column width="80" headerText="Prepago" sortBy="#{cliente.cltIsPrepago}" filterBy="#{cliente.cltIsPrepago}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >

                            <h:outputText value="#{cliente.cltIsPrepago}" />
                        </p:column>


                        <p:column headerText="Acciones" class="align-center" width="150">                                                         

                            <p:commandLink title="Editar"
                                           action="#{adminClientesBean.viewClienteRequestPageAction()}"
                                           class="btn-floating btn-small waves-effect waves-light green">
                                <f:setPropertyActionListener value="#{cliente}" target="#{adminClientesBean.selectedCliente}" />
                                <i class="fa fa-pencil"></i>
                            </p:commandLink> 

                            <p:commandLink title="Subir Contrato"
                                           update="uploadContratoDialogWrap" oncomplete="$('#uploadContratoDialog').modal('show');"
                                           class="btn btn-floating btn-small waves-effect waves-light blue">
                                <f:setPropertyActionListener value="#{cliente}" target="#{adminClientesBean.selectedCliente}" />
                                <i class="fa fa-file-pdf-o"></i>
                            </p:commandLink>                                                         

                        </p:column>
                    </p:dataTable>
                </h:form>




                <h:form id="uploadContratoDialogWrap">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>
                    <div class="modal fade" id="uploadContratoDialog" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Adjuntar Contrato</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Seleccionel el archivo PDF del contrato firmado escaneado.</p>
                                    <p>Esto adjuntará el archivo al proceso.</p>

                                    <h:outputText rendered="#{adminClientesBean.selectedCliente.cltContrato != null and not adminClientesBean.selectedCliente.cltContrato.trim().isEmpty()}"
                                                  value="Subido: #{adminClientesBean.selectedCliente.cltContrato}"/>


                                    <p:fileUpload fileUploadListener="#{adminClientesBean.handleFileUpload}" dragDropSupport="false"
                                                  update="messages2,listClienteForm" sizeLimit="400000" fileLimit="1" allowTypes="/(\.|\/)(pdf)$/" 
                                                  cancelLabel="cancelar" label="Seleccionar PDF" uploadLabel="Subir" 
                                                  oncomplete="$('#uploadContratoDialog').modal('hide');"/>


                                </div>
                                <div class="modal-footer">

                                </div> 

                            </div>

                        </div>
                    </div>
                </h:form>

            </section>
        </ui:define>

    </ui:composition>
</html>