<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:sec="http://www.springframework.org/security/tags">

    <ui:composition template="/templates/mainTemplate.xhtml">
        <ui:define name="title">
            Estadisticas JOM DCM
        </ui:define>

        <ui:define name="content">

            <section>

                <h1 class="text-light">Estadisticas Portal JOM</h1>
                <br/><br/>
                
                <h:form id="addButtonWrap">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>
                    <div class="fixed-action-btn" style="bottom: 55px; right: 24px;">
                        <a class="btn-floating btn-large red">
                            <i class="large fa fa-bars"></i>
                        </a>

                        <ul>                            
                            <li>
                                <p:commandLink class="btn-floating green " title="Atender"
                                               ajax="true" actionListener="#{estadisticasBean.clearJbpmLog}"                                                
                                               style="width:40px;height: 40px;"
                                               >

                                    <i class="fa fa-check-circle Fs20"></i>
                                </p:commandLink>
                            </li>                            
                        </ul>
                    </div>



                    <br/><br/>    
                </h:form>


                <div class="panel panel-primary bd-primary" style="max-width: 700px;margin:auto;">
                    <div class="panel-heading bg-primary">Memoria</div>

                    <div class="panel-body">
                        <p>
                            <h:outputText escape="false" value="#{estadisticasBean.memory}"/>

                        </p>
                        <br/>
                    </div>
                </div>


            </section>
        </ui:define>

    </ui:composition>
</html>