<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/templates/mainTemplate.xhtml">
        <ui:define name="title">
            DirecTV | Lista Instalación
        </ui:define>

        <ui:define name="content">

            <section>

                <h2 class="text-light text-center">Lista Espera Instalación</h2>
                <div class="colored-line bg-primary"></div>
                <br/><br/>                

                <h:form id="addButtonWrap">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>
                    <div class="fixed-action-btn" style="bottom: 55px; right: 24px;">
                        <a class="btn-floating btn-large red">
                            <i class="large fa fa-bars"></i>
                        </a>

                        <ul>                            
                            <li>
                                <p:commandLink class="btn-floating green " title="Atender"
                                               ajax="true" actionListener="#{listaInstalacionBean.atenderInstalacion}"                                                
                                               style="width:40px;height: 40px;"
                                               >

                                    <i class="fa fa-check-circle Fs20"></i>
                                </p:commandLink>
                            </li>                            
                        </ul>
                    </div>



                    <br/><br/>    
                </h:form>

                <h:form id="listClienteForm">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>

                    <p:dataTable var="lst" value="#{listaInstalacionBean.listEspera}" rows="5"
                                 paginator="true"  reflow="true" editable="false"
                                 sortMode="multiple" widgetVar="clienteTable"                                  
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" 
                                 class="wow fadeIn" pt:data-wow-delay="0.5s"
                                 >
                        <f:facet name="emptyMessage">
                            <h2 class="text-light">Ningun Cliente</h2>
                        </f:facet>
                        <f:facet name="header">

                            <div class="align-center pos-rel">
                                <span class="fa fa-list-ol" style="position: absolute; left: 5px;font-weight: 300;">&nbsp; #{listaInstalacionBean.listEspera.size()}</span>
                                Lista de Clientes 
                                <p:inputText id="globalFilter" onkeyup="PF('clienteTable').filter()" class="search-input" placeholder="Buscar"/>
                                <span class="fa fa-search" style="position: absolute; right: 5px;"></span>&nbsp;&nbsp;
                            </div>



                        </f:facet>
                        <p:column headerText="Id" sortBy="#{lst.cliente.cltId}" filterBy="#{lst.cliente.cltId}" filterStyleClass="no-display" filterMatchMode="contains"
                                  width="50">
                            <h:outputText value="#{lst.cliente.cltId}" />
                        </p:column>

                        <p:column width="100" headerText="CI" sortBy="#{lst.cliente.cltCi}" filterBy="#{lst.cliente.cltCi}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{lst.cliente.cltCi}" />
                        </p:column>

                        <p:column width="150" headerText="Cliente" sortBy="#{lst.cliente.fullName}" filterBy="#{lst.cliente.fullName}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{lst.cliente.fullName}" />
                        </p:column>
                        <p:column width="100" headerText="Telefono" sortBy="#{lst.cliente.cltTelefono}" filterBy="#{lst.cliente.cltTelefono}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{lst.cliente.cltTelefono}" />
                        </p:column>


                        <p:column width="100" headerText="Direccion" sortBy="#{lst.cliente.cltDireccion}" filterBy="#{lst.cliente.cltDireccion}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >                            
                            <h:outputText value="#{lst.cliente.cltDireccion}" />
                        </p:column>

                        <p:column width="150" headerText="Fecha" sortBy="#{lst.lstInsFechaIn}" filterBy="#{lst.lstInsFechaIn}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{lst.lstInsFechaIn}">
                                <f:convertDateTime dateStyle="full" pattern="EEEE dd, MMMM yyyy HH:mm"/>
                            </h:outputText>
                        </p:column>

                    </p:dataTable>
                </h:form>


            </section>
        </ui:define>

    </ui:composition>
</html>