<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:composition template="/templates/mainTemplate.xhtml">        

        <ui:define name="title">
            DirecTV | Ver Cliente
        </ui:define>

        <ui:define name="content">

            <section>

                <h2 class="text-light text-center">Detalle Cliente</h2>
                <div class="colored-line bg-primary"></div>
                <br/><br/>                

                <h:form id="clienteDatosForm">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>
                    <div class="panel panel-primary z-depth-1">
                        <div class="panel-heading">Datos Generales</div>
                        <div class="panel-body">

                            <br/>
                            <div class="row">
                                <div class="col-md-6">                                    

                                    <div class="input-field">   
                                        <i class="prefix fa fa-user"></i>
                                        <p:inputText id="cltNombre" value="#{viewClienteBean.selectedCliente.cltNombre}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltNombre" class="active">
                                            Nombre
                                        </p:outputLabel>

                                    </div> 
                                </div>

                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-user-secret"></i>
                                        <p:inputText id="cltApellido" value="#{viewClienteBean.selectedCliente.cltApellido}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltApellido" class="active">
                                            Apellido
                                        </p:outputLabel>

                                    </div> 
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-credit-card"></i>
                                        <p:inputText id="cltCi" value="#{viewClienteBean.selectedCliente.cltCi}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltCi" class="active">
                                            CI/RUC
                                        </p:outputLabel>

                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-phone"></i>
                                        <p:inputText id="cltTelefono" value="#{viewClienteBean.selectedCliente.cltTelefono}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltTelefono" class="active">
                                            Telefono
                                        </p:outputLabel>

                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">                                
                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-map-marker"></i>
                                        <p:inputText id="cltDireccion" value="#{viewClienteBean.selectedCliente.cltDireccion}" required="true" requiredMessage="Ingrese Nombre Cliente" />
                                        <p:outputLabel for="cltDireccion" class="active">
                                            Dirección
                                        </p:outputLabel>

                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="input-field">   
                                        <i class="prefix fa fa-envelope-o"></i>
                                        <p:inputText id="cltEmail" required="false" value="#{viewClienteBean.selectedCliente.cltEmail}"/>
                                        <p:outputLabel for="cltEmail" class="active">
                                            Email
                                        </p:outputLabel>

                                    </div>                                    
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="input-field">   
                                        <i class="prefix fa fa-envelope-o"></i>

                                        <h:outputText  style="margin-left: 3rem;" id="cltContrato" rendered="#{viewClienteBean.selectedCliente.cltContrato==null or viewClienteBean.selectedCliente.cltContrato.trim().isEmpty()}" value="Contrato no firmado" />                           

                                        <ui:fragment rendered="#{viewClienteBean.selectedCliente.cltContrato !=null and viewClienteBean.selectedCliente.cltContrato.trim().isEmpty()==false}" >
                                            <br/><a href="#{viewClienteBean.retrieveContratoUrl()}" style="margin-left: 3rem;" target="_blank">
                                                Ver contrato
                                            </a>
                                        </ui:fragment>

                                        <p:outputLabel for="cltContrato" class="active">
                                            Contrato
                                        </p:outputLabel>

                                    </div>






                                </div>

                                <div class="col-md-6">


                                    <div class="input-field">                                                  
                                        <h:selectOneMenu id="type" value="#{viewClienteBean.selectedPlan}">
                                            <f:selectItems value="#{viewClienteBean.listPlanes}" var="pln"  itemValue="#{pln.plnId}" itemLabel="#{pln.plnNombre} $#{pln.plnPrecio}"/>                                                                                                      
                                        </h:selectOneMenu>                                                
                                        <p:outputLabel for="type">
                                            Plan                         
                                        </p:outputLabel>

                                        <script>
                                            $(document).ready(function () {
                                                $('#clienteDatosForm\\:type').material_select();
                                            });
                                        </script>
                                    </div>


                                </div>
                            </div>
                            <br/><br/>
                            <div class="row">
                                <div class="text-right margin10R">
                                    <p:commandButton value="Guardar" action="#{viewClienteBean.editClienteAction()}" 
                                                     widgetVar="editClienteBut"
                                                     oncomplete="hideBusy('editClienteBut');"
                                                     validateClient="true"
                                                     onerror="hideBusy('editClienteBut');"
                                                     onstart="showBusy('editClienteBut');"
                                                     update="clienteDatosForm,messages2"
                                                     class="btn btn-primary waves-effect waves-light big-button"/>
                                </div>
                            </div>                            
                        </div>
                    </div>

                </h:form>
                <br/><br/>
                <h:form id="carrosForm">
                    <input type="hidden"  name="${_csrf.parameterName}"  value="${_csrf.token}"/>


                    <p:dataTable var="eqp" value="#{viewClienteBean.selectedCliente.equipos}" rows="5"
                                 paginator="true"  reflow="true" editable="false"
                                 sortMode="multiple" widgetVar="carTable" 
                                 rowKey="#{eqp.eqUid}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="5,10,15" 
                                 class="wow fadeIn" pt:data-wow-delay="0.5s"
                                 >
                        <f:facet name="emptyMessage">
                            <h2 class="text-light">Ningun Equipo</h2>
                        </f:facet>
                        <f:facet name="header">

                            <div class="align-center pos-rel">
                                <span class="fa fa-list-ol" style="position: absolute; left: 5px;font-weight: 300;">&nbsp; </span>
                                Lista de Equipos 
                                <p:inputText id="globalFilter" onkeyup="PF('carTable').filter()" class="search-input" placeholder="Buscar"/>
                                <span class="fa fa-search" style="position: absolute; right: 5px;"></span>&nbsp;&nbsp;
                            </div>



                        </f:facet>
                        <p:column headerText="Id Equipo" sortBy="#{eqp.eqUid}" filterBy="#{eqp.eqUid}" filterStyleClass="no-display" filterMatchMode="contains"
                                  width="50">
                            <h:outputText value="#{eqp.eqUid}" />
                        </p:column>

                        <p:column width="100" headerText="Nombre" sortBy="#{eqp.eqNombre}" filterBy="#{eqp.eqNombre}" filterStyleClass="no-display" filterMatchMode="contains"
                                  >
                            <h:outputText value="#{eqp.eqNombre}" />
                        </p:column>


                    </p:dataTable>

                </h:form>

            </section>
        </ui:define>
    </ui:composition>
</html>
