<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition template="/templates/fullHeightTemplate.xhtml">

        <ui:define name="title">
            <h:outputText value="SSOD | 404" />
        </ui:define>

        <ui:define name="content">
            <section class="call-to-action full-height bg-orange" style="display: flex;align-items: center;justify-content: center;
                     min-height: 100%;
                     height: auto;width: 100%;"
                     >


                <div class="shadow padding20 bg-white align-center" style="width:100%; max-width: 550px;">
                    <br/><br/>

                    <i class="fa fa-warning fa-5x fg-orange"/>

                    <br/><br/>

                    <div class="Fs30 fg-orange">
                        404 Página no econtrada !
                    </div>

                    <br/>

                    <div class="Fs20 fg-gray">
                        Lo sentimos, pero el recurso que busca<br/>
                        no ha sido encontrado.
                    </div>

                    <br/>
                    <hr class="thin"/>
                    <a href="#{request.contextPath}" data-toggle="tooltip" data-placement="top" title="Go to Home"><i class="fa fa-home fa-2x fg-gray opacity-6-hover"></i></a>
                    <br/>
                    <br/>

                </div>

            </section>
        </ui:define>
    </ui:composition>
</html>
