<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:sec="http://www.springframework.org/security/tags">
    <ui:composition template="/templates/emptyTemplate.xhtml">
        <ui:define name="postHead">            
            <sec:authorize access="isAuthenticated()">
                <meta http-equiv="refresh" content="0;url=#{facesContext.externalContext.requestContextPath}/faces/views/s/dashboard/index.xhtml" /> 
            </sec:authorize>
        </ui:define>
        <ui:define name="title">
            <h:outputText value="JOM DCM | Remember Password" />
        </ui:define>


        <ui:define name="intro">
            <div class="container" style="display: flex;align-items: center;justify-content: center;position: absolute;width: 100%;min-height: 100%;">
                <br/><br/><br/><br/>
                <h:form style="max-width: 100%;">
                    <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>

                    <div style="text-align: center;">
                        <div style="width: 60px;height: 60px;border-radius: 50%;display: inline-block;margin-bottom: -25px;border: 1px solid #fff;background: #fff">
                            <span class="fa fa-lock" style="vertical-align: middle;line-height: 25px;font-size: 30px;text-align: center;margin-bottom: -35px;color: #FFEF00;"></span>
                        </div>
                    </div>


                    <div class="login-wrap" style="background-color: rgba(0,0,0,.6);">
                        <div class="section-header">

                            <p:commandLink immediate="true"  class="fg-white fg-hover-yellow fg-hover-white" action="login" style="float: left;display: inline;">
                                <span class="fa fa-arrow-circle-left fa-2x"></span>
                            </p:commandLink>

                            <h2 class="text-light">Recordar contraseña</h2>
                            <div class="colored-line wow fadeInLeft"></div>
                            <div class="sub-heading">Ingrese su usuario, le enviaremos una contraseña nueva.</div>				
                        </div>
                        <div class="input-control text icon wow fadeInDown" pt:data-wow-delay="0.75s">
                            <span class="fa fa-user"></span> <p:inputText id="username" placeholder="username" required="true"
                                                                          value="#{serviceLoginBean.userName}" requiredMessage="Usuario requerido"/>                                
                        </div>

                        <br/>
                        <br/>

                        <p:commandButton action="#{serviceLoginBean.requestPassword()}" class="call-button big-button wow fadeIn login-button waves-effect waves-light" pt:data-wow-delay="0.35s" update="content"                                             
                                         value="Enviar"/>

                    </div>                   
                </h:form>
                <br/><br/>
            </div>
        </ui:define>
    </ui:composition>

</html>