/*
Copyright (C) 2015 dacopan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 03/12/2015, 13:04:57
    Author     : dacopan
*/

.blur{
    filter:blur(5px);
    -webkit-filter:blur(5px);
}

.overlay-layer-wrap {
    background: rgba(0, 5, 8, 0.6);
}

/*---------------------------------------
   2.5 BORDER AND LINE       
-----------------------------------------*/
.border-right {
    border-right: 1px solid #eaeaea;
}

.border-left {
    border-left: 1px solid #eaeaea;
}

.colored-line-left,
.colored-line-right,
.colored-line,
.white-line,
.grey-line {
    height: 2px;
    width: 80px;
    display: block;
}

.white-line {
    background: #ffffff;
    margin: auto;
}

.grey-line {
    background: #eaebec;
}

.grey-line-short {
    height: 2px;
    width: 40px;
    display: block;
    background: #eaebec;
}

.white-text {
    color: #ffffff;
}

.white-bg-border {
    background: #ffffff;
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;
}

.white-bg {
    background: #ffffff;
}

.grey-bg {
    border-top: 1px solid #eaebec;
    border-bottom: 1px solid #eaebec;
    background: #F7F8FA;
}

.dark-bg {
    background: #2e3336;
}

.colored-line-left {
    float: left;
}

.colored-line-right {
    float: right;
}

.colored-line {
    margin: auto;
}


.border-right-colored {
    border-right: 1px solid rgba(0, 142, 214, 0.3);
}

.border-left-colored {
    border-left: 1px solid rgba(0, 142, 214, 0.3);
}

.long-transparent-line {
    height: 1px;
    width: 200px;
    background: rgba(0, 142, 214, 0.3);
    margin: auto;
}


/*---------------------------------------
   2.6 SECTION HEADERS       
-----------------------------------------*/
.section-header {
    margin-top: 90px;
    margin-bottom: 60px;
    text-align: center;
}

.section-header h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 2.4rem;
    line-height: 3.125rem;
}

.sub-heading {
    margin-top: 20px;
}

#parallax_move .layer {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: top center;
}

.header {
    overflow: hidden;
    position: relative;
}

.overlay-layer-wrap {
    z-index: 3;
    position: relative;
}



/*---------------------------------------
   3.1 SECTION: HOME / HEADER         
-----------------------------------------*/
.paralax_one_only_customizer{
    display:none !important;
}

.whole-video-bg {
    position: fixed;
    z-index: 0;
    top: 0px;
    left: 0px;
    height: 911px;
    width: 1260px;
    opacity: 1;
    overflow: hidden;
}

.whole-page-wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 911px;
    width: 1260px;
    z-index: 1;
}

.header .overlay-layer {
    padding-top: 84px;
    padding-bottom: 195px;
    height: auto;
}

h1.site-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
    margin-top: 12px;
}

p.site-description {
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 12px;
}

.navbar-brand {
    height: auto;
}

.header-logo-wrap {
    text-align: center;
    padding: 4px 10px;
}




/* ONLY LOGO */
.centered-logo {
    text-align: center;
    width: 100%;
}

.centered-logo .navbar-brand > img {
    display: inline-block;
}

.centered-logo .navbar-brand {
    float: none;
}

.centered-logo .navbar-brand a {
    padding: 0;
}

.centered-logo .navbar-brand img {
    margin: 18px 15px 10px 15px;
}

.only-logo .navbar-header {
    margin: auto;
    float: none;
    text-align: center;
}

.only-logo .navbar {
    min-height: 10px;
}

.header-layer-one {
    background-size: cover!important;
    background-position: 0px 0px;
}

.header-layer-two {
    background-size: cover!important;
    background-position: 0px 0px;
}



/* INTRO */
h1.intro {
    font-size: 3.75rem;
    line-height: 5rem;
    text-align: center;
}
.intro-section {
    margin-top: 130px;
    text-align: center;
}

.intro-section h5 {
    margin-top: 30px;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

.imac-image img {
    width: 85%;
    margin-top: 70px;
}

.header-parallax-effect-mobil {
    background-position: top center;
}

.call-to-action{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 1px solid #eaebec;
    .section-overlay-layer {
        padding-top: 100px;
        padding-bottom: 100px;
        background: rgba(0, 5, 8, 0.80);
    }
    .container{
        padding-top: 100px;
        padding-bottom: 100px;

        .call-button{
            margin-top: 50px;
        }
    }
}

/*---------------------------------------
   3.3 SECTION: SERVICES    
-----------------------------------------*/

.services-wrap {
    text-align: center;
    position: relative;
    padding-bottom: 50px;
}

.services {
    background-color: #F7F8FA;
    border-bottom: 1px solid #eaebec;
    p{
        font-size: 16px;
        line-height: 28px;
    }
}

.services .section-overlay-layer {
}

.single-service {
    padding: 40px 35px 40px 35px;
    background: #ffffff;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 4px solid #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease 0.55s;
    transition: all ease 0.55s;
}

.services-wrap .service-box {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.single-service > h3 > a:hover, .service-icon > a:hover{
    text-decoration:none;
}



.services-wrap > .service-box {
    width: 31.5%;
    margin: 0 1.25% 0 1.25%;
    margin-bottom: 30px;
    vertical-align: top;
}

.services-wrap > .service-box:nth-child(3n+1){
    margin-left: 0;
    clear: left;
}

.services-wrap > .service-box:nth-child(3n){
    margin-right: 0;
    clear: right;
}

.single-service .service-icon {
    font-size: 60px;
    margin-bottom: 35px;
}

.single-service h3 {
    margin-bottom: 15px;
    padding-top: 5px;
}

.galcolumn .single-service {
    width: 100%;
}

.display-none {
    display: none !important;
}

.parallax_one_grid_col_4 > div,
.parallax_one_grid_col_3 > div,
.parallax_one_grid_col_2 > div,
.parallax_one_grid_col_1 > div {
    margin-bottom: 30px;
    text-align: center;
}

.parallax_one_grid_col_4 {
    float: left;
    width: 23%;
    margin: 0 1.25% 0 1.25%;
}

.parallax_one_grid_col_3 {
    float: left;
    width: 31.5%;
    margin: 0 1.25% 0 1.25%;
    min-height: 1px;
}

.parallax_one_grid_col_2 {
    float: left;
    width: 48%;
    margin: 0 1.75% 0 1.75%;
}

.parallax_one_grid_col_1 {
    float: left;
    width: 100%;
}

.parallax_one_grid_first {
    margin-left: 0;
    padding-left: 0;
}

.parallax_one_grid_last {
    margin-right: 0;
    padding-right: 0;
}
/**COLORS**/
.border-bottom-hover:hover {
    border-bottom-color: @primary-color;
}

.colored-text {
    // color: #008ed6;
    color: @primary-color;
}
/* COLORED BORDERS AND LINES */
.colored-line-left,
.colored-line-right,
.colored-line {
    //background: #008ed6;
    background: @primary-color;
}

/***********************************************************/
/*PRE FOOTER*/
/***********************************************************/

.pre_footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
    border-top: 2px solid #2d2d2f;
    background: linear-gradient(#373737, #282828);
    box-shadow: 0px 8px 10px -5px #000000;
    position: relative;
    text-align: center;
}

.pre_footer_image
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 48px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.pre_footer_image img
{
    max-width: 100%;
    width: 48px;
    height: auto;
    display: inline-block;
}

.pre_footer_brands
{

    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 2px solid #1f1f1f;
    background: #252525;
    text-align: center;
}

.pre_footer_brands_pos
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 96px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.pre_footer_brands_pos img
{
    max-width: 100%;
    width: 96px;
    height: auto;
}


/*---------------------------------------
   3.13 SECTION: CONTACT INFO
-----------------------------------------*/
.contact-info {
    text-align: center;
    background-color: #FFF;
}

.contact-info .section-overlay-layer {
    padding-top: 30px;
    padding-bottom: 45px;
}

.contact-info .logo-container {
    margin-top: 20px;
    margin-bottom: 35px;
}

.contact-info .logo-container img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    opacity: 0.6;
    max-width: 65px;
}

.contact-info .icon-container {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contact-info .contact-links a {
    padding-top: 65px;
    padding-bottom: 0;
}

.contact-links .contact-link-box {
    float: none;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    text-align: center;
}

.pirate-forms-section{
    text-align: center;
    background-color: #FFF;
    padding-bottom: 70px;
}

.dt1c footer{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: 400px;
    height: 400px;
    border-top: 1px solid #494949;
    background-color: #252525;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

.login-wrap{
    max-width: 100%;
    width: 500px;
    padding: 20px;
    margin: auto;
    /* background-color: rgba(255,255,255,.5); */
    border: 1px solid #fff;
    box-shadow: 0 -1px 8px 2px rgba(0,0,0,.75);
    border-bottom: 0;
    color: #fff;

    .section-header{
        margin-top: 0;
    }
    .input-control{
        margin: auto;
        display: block;
        max-width: 350px;
        box-shadow: inset 0 0 4px #2D2D2D;
        background-color: rgba(0,0,0,.3);
        border-radius: 10px;

        .ui-inputfield {
            width: ~"calc(100% - 60px)";            
            margin-left: 30px;
            border: none!important;
            background: none!important;
            color: #fff;
            font-size: 18px;
        }
    }
    .login-button{
        width: 100%;
        border:1px solid #fff;
        background:none;
        color:#fff;
        &:hover{
            background: @primary-color;
            border-color: @primary-color;
        }
        &:active{
            background: @lightYellow;
            border-color: @primary-color;
        }
    }

}

.dt1c.fullscreen{
    #layout,#layout main,#content, #content form{
        height: 100%;
    }
    .full-height,#layout main{
        min-height: 100%;
        height: auto;
    }    
}


/**MDBOOTSTRAP**/
.full-bg-img{
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%!important;
    height: auto!important;
}

.ui-inputfield,input.ui-widget{
    padding: 0!important;
    margin: 0;
    margin-bottom: 0!important;

}

.input-field .prefix~.select-wrapper{
    position: relative;
    display: inline-block;
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.ui-button{
    overflow: hidden!important;
}