/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/03/2016, 16:58:15
    Author     : dacopan
*/

/* Style For UI Autocomplete --------------------------------------------------------------------------------------*/
.ui-autocomplete {  
}
.ui-autocomplete .ui-autocomplete-dropdown {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px  !important;
    border-top-left-radius: 0px  !important;
}
.ui-autocomplete .ui-autocomplete-dropdown {
    border-radius: 0px !important;
    background-color: #f5f5f5;
    border-bottom: solid 1px #b0bec5;
}
.ui-autocomplete .ui-autocomplete-dropdown.ui-state-hover {
    border-bottom: solid 1px #03a9f4;
    background-color: #e0e0e0 !important;
}
.ui-autocomplete .ui-corner-left {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.ui-autocomplete .ui-autocomplete-dropdown .ui-icon-triangle-1-s {

    background-position: center !important;
    background-size: 130% !important;
    z-index: 998;
    margin-top: -6px;
}
.ui-autocomplete-panel {
    background-color: #ffffff;
    border-radius: 2px;
    z-index: 1060!important
}
.ui-autocomplete-panel .ui-autocomplete-items {
    padding: 0px !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {
    color: #546e7a;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px;
}
.ui-autocomplete-query {
    font-weight: normal !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-group {
    color: #ffffff;
    background-color: #546e7a;
    padding: 6px 8px;
    font-size: 16px;
    border: 0px;
    margin: 0px;
    font-weight: normal;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight {
    background-color: #f5f5f5;
    color: #03a9f4;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight td {
    color: #03a9f4 !important;
    background-color: #f5f5f5;
}
.ui-autocomplete-panel .ui-autocomplete-table th,
.ui-autocomplete-panel .ui-autocomplete-table td {
    border-color: #f5f5f5 !important;
    padding: 14px 10px !important;
}
.ui-autocomplete-multiple{
    width:100%;
    .ui-autocomplete-multiple-container {
        width:100%;
        .ui-autocomplete-token {
            background-color: #00C851;
            
            color:#ffffff;
            
            line-height: 31px;
            position: relative;
            
            padding: 5px 10px;
            border: 0;
            margin: 5px;
            cursor: pointer;
            border-radius: 2px;
            text-transform: uppercase;
            text-decoration: none;
            outline: none !important;
            -webkit-transition: 0.2s ease-out;
            -moz-transition: 0.2s ease-out;
            -o-transition: 0.2s ease-out;
            -ms-transition: 0.2s ease-out;
            transition: 0.2s ease-out;
        }
    }
}
.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token .ui-icon-close {
    &:before{
        content: @iconClose;
    }
}
.ui-autocomplete-input-token input[type="text"] {
    color: #003d50;
    font-size: 14px;

}
.ui-autocomplete-itemtip {
    border: solid 1px #d1d3d4;
    background-color: #fbfcfd;
    font-size: 14px;
    padding: 2px !important;
}
.ui-autocomplete-itemtip table thead tr th {
    border-bottom: solid 1px #e8edf2 !important;
    color: #778d9b;
    font-size: 16px;
}
