/*
Copyright (C) 2015 dacopan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 29/12/2015, 6:03:13
    Author     : dacopan
*/

.Card {
    padding: 10px;
    display: block;
    background-color: #F5F5F5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;  
    color: #546e7a;
    overflow: hidden;
    float:left;
    margin:5px;
    
    .wrapper{
        margin:0px 10px 10px -10px; 
        padding:0px 10px;
        width: 100%;
        float: left;
    }
    .icon-wrap{
        margin:-10px 10px -10px -10px;
        padding:20px 10px;
        background: #FFDC65!important;
        float: left;
    }
    &.ptp-highlight{
        border:1px solid @primary-color;
        margin:4px;
        .fa-check{
            color:@darkYellow;
        }
    }
    &.pago{
        cursor: pointer;
    }
}
.CardTopic {
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    display: block;
    color: #546e7a;
}
.CardFooter {
    border-top: solid 1px #e0e0e0;
    margin: 10px -10px -12px;
    padding: 10px;
    overflow: hidden;
    display: block;
}
.CardFooterBtn {
    padding: 10px;
    margin: -10px 0px;
    display: inline-block;
    font-size: 24px;
}
.CardFooterBtn:hover {
    background-color: #f5f5f5;
}