/*
Copyright (C) 2015 dacopan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 08/12/2015, 17:34:38
    Author     : dacopan
*/
.collapse {
    display: none;
  
}
.collapse.in {
    display: block;
  
}
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition-property:height, visibility;-o-transition-property:height, visibility;transition-property:height, visibility;-webkit-transition-duration:.35s;-o-transition-duration:.35s;transition-duration:.35s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease}

@media (min-width: 768px){
    .navbar-toggle {
        display: none;
    }
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0;
        float: left;
    }
}

/**BOOTSTRAP**/

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}
.nav > li.disabled > a {
    color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7;
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #dddddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 4px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-justified {
    border-bottom: 0;
}
.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #dddddd;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
    overflow-y: auto;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand > img {
    display: block;
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}
.navbar-nav {
    margin: 7.5px -15px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .form-control-static {
        display: inline-block;
    }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto;
    }
    .navbar-form .input-group > .form-control {
        width: 100%;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}
@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}
.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-default .navbar-text {
    color: #777777;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #e7e7e7;
    color: #555555;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-default .navbar-link {
    color: #777777;
}
.navbar-default .navbar-link:hover {
    color: #333333;
}
.navbar-default .btn-link {
    color: #777777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #cccccc;
}
.navbar-inverse {
    background-color: #222222;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
   // color: #ffffff;
    background-color: transparent;
}
.navbar-inverse .navbar-text {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #080808;
    color: #ffffff;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444444;
        background-color: transparent;
    }
}
.navbar-inverse .navbar-link {
    color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}
.navbar-inverse .btn-link {
    color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
    color: #444444;
}
.clearfix:before,
.clearfix:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}
.clearfix:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
    clear: both;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
/* STICKY NAVIGATION AND LOGO */
#menu-primary {
    float: right;
}

.appear-on-scroll {
    opacity: 0;
}

.navbar-brand {
    padding: 7px 7px 7px 0;
    height: 70px;
    line-height: 52px;
}

.navbar-brand > img {
    max-height: 56px;
    display: inline-block;
}

.sticky-navigation {
    background: @darker;
    min-height: 70px;
    border: none;
    font-weight: 400;
    margin-bottom: 0 !important;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-brand img {
    -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation {
    margin-top: 0;
}

.sticky-navigation .main-navigation li a {
    text-transform: uppercase;
    line-height: 18px;
    margin: 26px 18px;
    padding: 0;
}

.sticky-navigation .main-navigation .sub-menu li a {
    margin: 0;
}


.menu-align-center  .main-navigation li a {
    margin: 0;
}

.sticky-navigation .main-navigation a {
    display: block;
    text-decoration: none;
    text-align: left;
    //color: #313131;
    color:#C1C1C1;
}

.sticky-navigation .main-navigation ul ul a {
    width: 200px;
    padding: 10px
}


.dropdownmenu {
    position: absolute;
    top: 23px;
    right: 0;
    z-index: -1;
    line-height: 28px;
}

.sticky-navigation-open .sticky-navigation {
    top: 0px;
    opacity: 1;
    z-index: 999;
}

.main-navigation {
    font-family: Montserrat, sans-serif;
}

.site-footer .main-navigation {
    margin-bottom: 1.75em;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    position: relative;
}

.main-navigation a {
    color: #1a1a1a;
    display: block;
    line-height: 1.3125;
    padding: 0.84375em 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #007acc;
}

.main-navigation ul ul {
    display: none;
}

.main-navigation ul .toggled-on {
    display: block;
}

.main-navigation .primary-menu {
    border-bottom: 1px solid #e8e8e8;
}

.main-navigation .menu-item-has-children > a {
    margin-right: 50px;
}

.site-header-menu {
    display: none;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}

.site-header-menu.toggled-on,
.site-header-menu {
    display: block;
}

.primary-menu:before,
.primary-menu:after {
    content: "";
    display: table;
}

.primary-menu:after {
    clear: both;
}

.menu-item-has-children a:after,
.dropdown-toggle:after{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: "Genericons";
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: top;
}

.menu-item > a:focus{
    outline: 1px dotted #008ed6;
}

.site-header-menu.toggled-on,
.site-header-menu {
    display: block;
}
.main-navigation ul .toggled-on {
    display: block;
}

.dropdown-toggle {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 10px;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #999999;
}

.dropdown-toggle:after {
    content: "\e0d4";
    font-family: stamp-icons!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: #008ed6;
    color: #ffffff;
    z-index: 1;
}

.dropdown-toggle.toggled-on,
.dropdown-toggle.toggled-on:hover,
.dropdown-toggle.toggled-on:focus {
    background-color: #008ed6;
    color: #fff;
    z-index: 1;
}

.dropdown-toggle.toggled-on:after {
    content: "\e0d4";
    font-family: stamp-icons!important;
}


.dropdown-toggle.toggled-on:after {
    content: "\e0d4";
    font-family: stamp-icons!important;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.admin-bar .sticky-navigation-open .sticky-navigation {
    top: 32px;
    opacity: 1;
}

.sticky-navigation-open {
    min-height: 70px;
    background: transparent;
}

.primary-menu {
    width: auto;
}

.menu-align-center .navbar-header,
.menu-align-center .navbar-collapse {
    width: 100%;
    text-align: center;
}

.menu-align-center .navbar-header > a {
    display: inline-block;
    float: none;
}

.menu-align-center .primary-menu {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.menu-align-center .primary-menu > li {
    display: inline-block;
    float: none;
}

.menu-align-center .primary-menu > li a {
    padding: 5px 8px;
}


.menu-align-center .primary-menu > li.menu-item-has-children a {
    padding: 5px 18px 5px 8px;
}

.menu-align-center .primary-menu > li.menu-item-has-children > .dropdownmenu {
    top: 4px;
}

.menu-align-center .no-menu > li > a{
    padding: 5px 8px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #008ed6;
    height: 4px;
    width: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.navbar-toggle {
    margin-right: 5px;
    padding: 13px 10px;
}

/**RESPONSIVE**/




/*---------------------------------------
   6.3 FIXES FOR <= 1024PX SCREENS          
-----------------------------------------*/
@media (max-width: 1024px) {
    .header .overlay-layer {
        padding-bottom: 85px;
    }

    .header,
    .features,
    .stats {
        background-attachment: scroll !important;
    }

    .vertical-registration-form,
    .header-style-two .vertical-registration-form {
        width: 100%;
        float: none;
    }

    .header .overlay-layer {
        padding-top: 60px;
    }

    .intro-section,
    .header-style-two .intro-section,
    .header-style-three .intro-section {
        margin-top: 60px;
    }

    .header-style-one .intro-section,
    .header-style-four .intro-section {
        margin-top: 20px;
    }

    .feature .icon-container {
        margin-right: 0;
        padding-top: 14px;
    }

    .wow {
        -webkit-transform: translateZ(0);
    }
}

/*---------------------------------------
   6.4 FIXES FOR <= 991PX SCREENS          
-----------------------------------------*/
@media (max-width: 991px) {

    .pull-left,
    .pull-right {
        float: none !important;
        margin: auto !important;
    }    

}

/*---------------------------------------
   6.5 FIXES FOR => 768PX to <= 991PX SCREENS          
-----------------------------------------*/
@media (max-width: 782px) {

}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, 
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }

    .main-navigation {
        margin: 0 -0.875em;
    }

    .main-navigation .primary-menu {
        border: 0;
    }

    .main-navigation li {
        border: 0;
        float: left;
    }

    .main-navigation li:hover > a,
    .main-navigation li.focus > a ,
    .main-navigation li.current > a {
        color: @primary-color;
    }

    .main-navigation ul ul {

        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        display: block;
        float: left;
        margin: 0;
        position: absolute;
        left: -999em;
        z-index: 99999;
        padding: 0;
        top: 100%;
        background: #FFF;
        list-style: none;
    }

    .main-navigation ul ul ul {
        left: -999em;
        top: 0px;
    }

    .main-navigation ul ul ul:before,
    .main-navigation ul ul ul:after {
        border: 0;
    }

    .main-navigation ul ul li:hover > ul,
    .main-navigation ul ul li.focus > ul {
        left: 100%;
    }

    .main-navigation ul ul a {
        white-space: normal;
        width: 15em;
    }


    .main-navigation li:hover > ul,
    .main-navigation li.focus > ul {
        left: auto;
    }

    .main-navigation .menu-item-has-children > a {
        margin: 0;
    }

    .main-navigation .menu-item-has-children > a:after{
        content: "\e0d4";
        font-family: stamp-icons!important;
        position: absolute;
        top: 23px;
        right: 0;
        z-index: -1;
        line-height: 24px;
    }


    .main-navigation ul ul .menu-item-has-children > a:after {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 0;
        line-height: 38px;
        right: 10px;
    }

    .no-menu > li{
        float:none;
        display: inline-block;
    }

    .dropdown-toggle,
    .main-navigation ul .dropdown-toggle.toggled-on,
    .site-header .social-navigation,
    .site-footer .main-navigation {
        display: none;
    }

    .menu-align-center .primary-menu, 	.menu-align-center .no-menu{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
    }

    .menu-align-center .primary-menu > li, 	.menu-align-center .no-menu > li {
        display: inline-block;
        float: none;
    }

    .menu-align-center .primary-menu > li a {
        padding: 5px 8px;
    }

    .menu-align-center .primary-menu > li.menu-item-has-children a{
        padding: 5px 18px 5px 8px;
    }

    .menu-align-center .primary-menu > li.menu-item-has-children a:after, .sticky-navigation .no-menu > li.page_item_has_children > a:after {
        line-height: 28px;
        top: 0;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .sticky-navigation {
        min-height: 70px;
    }

    .sticky-navigation .main-navigation > li.has_children > a {
        line-height: 34px;
        line-height: 18px;
        padding: 26px 18px;
    }

    .sticky-navigation .login-register {
        margin-top: 3px;
    }


}

/*---------------------------------------
   6.6 FIXES FOR <= 768PX SCREENS          
-----------------------------------------*/
@media (max-width: 767px) {

    .navbar-toggle {
        font-size: 30px !important;
    }

    .navbar-inverse .navbar-toggle {
        border: 0 !important;
    }

    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: inherit;
        box-shadow: none;
    }

    .sticky-navigation .main-navigation li a {
        line-height: inherit;
        padding: 10px;
    }

    .border-right-colored,
    .border-left-colored {
        border: none;
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: rgba(49, 49, 49, 0.1);
    }

    .sticky-navigation {
        min-height: 60px;
    }

    .nav > li {
        display: inline-block;
        display: inline-block;
        width: 100%;
        text-align: left;
        padding-left: 15px;
    }

    .container>.navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

    .menu-align-center .navbar-header > a {
        float: left;
    }


    .section-header {
        margin-top: 75px;
        margin-bottom: 50px;
    }



    /* fixed header */
    .sticky-navigation {
        top: 0 !important;
        opacity: 1 !important;
        position: relative !important;
    }

    .sticky-navigation .main-navigation ul,
    .sticky-navigation .main-navigation ul ul,
    .sticky-navigation .main-navigation ul ul ul{
        position: relative;
        left: 0;
        left: auto;
    }

    .sticky-navigation .main-navigation ul,
    .sticky-navigation .main-navigation ul li,
    .sticky-navigation .main-navigation ul a {
        width: 100%;
    }

    .sticky-navigation .main-navigation ul li:hover > ul {
        left: 0;
    }

    .sticky-navigation .main-navigation ul {
        box-shadow: none;
        padding: 0;
    }

    .sticky-navigation .primary-menu ul li {
        padding-left: 7%;
    }

    .sticky-navigation .main-navigation ul .dropdownmenu, 
    .dropdownmenu {
        position: absolute;
        z-index: 9;
        right: 0;
        top: 5px;
        width: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #999999;
    }

    .sticky-navigation .main-navigation ul .this-open > .dropdownmenu, 
    .this-open > .dropdownmenu {
        background: #008ed6;
    }

    .dropdownmenu:before {
        content :"";
        text-align: center;
        width: 25px;
        height: 25px;
        color: #FFF;
        line-height: 26px !important;
        text-align: center;
        float: left;
    }

    .this-open > a {
        color: #008ed6 !important;
    }

    .has_children > ul {
        display: none;
    }

    .has_children.this-open > ul {
        display: block;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 2000px;
    }	

    #menu-primary {
        float: none;
        width: 100%;
        margin: 0;
    }
    .menu-align-center #menu-primary > ul {
        margin-left: 0;
    }
    .nav > li {
        margin-left: 0;
        padding-left: 0;
    }
    #header_layer_one,
    #header_layer_two {
        background-position: top center !important;
    }


    .services-wrap > .service-box {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        margin-left: 0;
        clear: left;
        margin-right: 0;
        clear: right;
    }

    .testimonials-wrap > .testimonials-box{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        margin-left: 0;
        clear: left;
        margin-right: 0;
        clear: right;
    }
    .navbar-collapse .main-navigation li a{
        margin: 0;
        line-height: 25px;
    }
    .call-to-action {
        background-position: center;
        background-attachment: initial;
        background-size: cover;
    }

}

@media (max-width: 680px) {
    .single-feature {
        width: auto;
        float: none;
    }
}

/*---------------------------------------
   6.7 FIXES FOR MOBILE SCREENS          
-----------------------------------------*/
@media (max-width: 580px) {

    .section-header {
        margin-bottom: 25px;
    }

    .header .overlay-layer {
        padding-top: 55px;
    }

    .header-style-two .overlay-layer {
        padding-bottom: 0;
    }

    .header .overlay-layer .pull-right {
        padding: 0;
    }



    .intro-section,
    .header-style-two .intro-section {
        margin-top: 40px;
    }

    .header-style-three .intro-section {
        margin-top: 30px;
    }

    .intro-section h5,
    .header-style-one .intro-section h5,
    .header-style-three .intro-section h5 {
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .header-style-four .horizontal-subscribe-form {
        max-width: 100%;
        margin: auto;
        padding: 5px;
    }

    .header-style-four .horizontal-subscribe-form .input-box {
        min-height: 55px;
    }   

}

.main-navigation li.item-red:hover>a{
    .fg-color(@red);
}