/*
Copyright (C) 2015 dacopan

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 28/12/2015, 11:55:44
    Author     : dacopan
*/

.ptp-pricing-table{ white-space: nowrap; width: 100%; text-align: center; }

.ptp-col { padding-left: 0.4em; padding-right: 0.4em; display: inline-block; vertical-align: top; white-space: normal; }
.ptp-one-col   { width: 50%; }
.ptp-two-col   { width: 46.5%; }
.ptp-three-col { width: 31%; }
.ptp-four-col  { width: 23.25%; }
.ptp-five-col  { width: 18.6%; }
.ptp-six-col   { width: 15.5%; }
.ptp-seven-col { width: 13.29%; }
.ptp-eight-col { width: 11.625%; }
.ptp-nine-col  { width: 10.3%; }
.ptp-ten-col   { width: 9.3%; }
.ptp-more-col  { width: auto; }

div.ptp-item-container {
    margin: 0 0 1.25em;
    font-size: 1em;
    line-height: 1.6;
    font-family: inherit;
    border: 1px solid #dddddd;    
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
div.ptp-plan{ 
    text-align: center;
    font-weight: 700;
    background-color: #F7F8FA;
    color: #333333;
    font-size: 1.15em;
    padding: .9375em 1.25em;
}
div.ptp-not-most-popular,.ptp-most-popular{ background: none; padding: 0.3em; text-align: center; color: #fff; font-size: 0.9em; font-weight: bold; line-height: 1.4em; margin-bottom: 2px; }

.ptp-highlight .ptp-most-popular{
    font-size: .9em;
    line-height: 1.4em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #DC3023 !important;
    padding: .5em !important;
    margin-bottom: 4px !important;    
}

div.ptp-price{
    background-color: @primary-color;
    font-size: 1.25em;
    padding: .9375em 1.25em;
    color:@white;
}
div.ptp-bullet-item{ 
    background-color: #fff;
    border-bottom: dotted 1px #ddd;
    padding: .9375em .5em .9375em .5em;
}
div.ptp-cta{ 
    text-align: center;
    background-color: #F5F5F5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}

div.ptp-col.ptp-highlight .ptp-item-container {
    border-color: @primary-color !important;
    margin: -8px;
    box-sizing: border-box;
    display: block;    
    font-weight: 300;
    min-height: 1px;    
    text-align: center;    
    z-index: 2;
}


a.ptp-button{
    border-style: solid;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 75%;
    margin: 0 0 1.25em;
    padding-top: 0.75em;
    padding-bottom: 0.8125em;
    font-size: 1em;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    /* from zurb */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

/* smart phones */
@media only screen and (max-width: 765px) {
    .ptp-col { width: 100%; }
    .ptp-pricing-table{ white-space: normal; }
    .tt-ptp-empty-row { display: none  }
}
