/*
Copyright (C) 2016 dacopanCM

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : 16/04/2016, 6:57:12
    Author     : dacopanCM
*/
@import (once) "customVariables.less";
@import "reset";
@import "fonts";

body{
    font-size: 14px;
    font-family: "Roboto";
    background-color:#fff;
    color:#000;
}
p{
    border-bottom: 1px solid #9e9e9e!important;
}

